<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.punegdg.kinosense"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".eventsource.SensorService" >
            <intent-filter>
                <action android:name="org.punegdg.kinosense.service.SensorService" />
            </intent-filter>
        </service>

        <receiver android:name=".triggerReceiver.TriggerReceiver" >
            <intent-filter>
                <action android:name="org.punegdg.kinosense.TRIGGER" />
            </intent-filter>
        </receiver>
        
        <receiver
            android:name=".widgets.TriggerWidgetProvider"
            android:icon="@drawable/ic_launcher"
            android:label="KinoSense Trigger Widget" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/trigger_widget_info" />
        </receiver>
    </application>

</manifest>